<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>
<body>
    {% block content %}
        <h2>Welcome to Django Delights Inventory Dashboard</h2>

         <a href="{% url 'add_ingredient' %}">Add Ingredient</a>
         <a href="{% url 'add_recipe_requirement' %}">Add Recipe Requirements</a>
         <a href="{% url 'add_menu_item' %}">Add Menu Item</a>
         <a href="{% url 'purchase_page' %}">Purchase Items</a>


    {% endblock %}
</body>
</html>